html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  background-color: rgb(165, 235, 165);
  box-shadow: 0 4px 8px 0 rgba(18, 58, 8, 0.2),
    0 6px 20px 0 rgba(6, 53, 9, 0.19);
}
a {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.header__container {
  display: block;
  margin: 0 auto;
  padding: 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
}
.site_logo {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 90px;
  height: 90px;
}
.navigation_container {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.navigation_list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.navigation_item {
  list-style: none;
  padding: 4px 20px;
}
.navigation_link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(60, 63, 71);
  font-size: 18px;
  font-weight: bold;
}
.navigation_alink {
  text-transform: uppercase;
  color: rgb(179, 101, 11);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.navigation_link:hover {
  color: rgb(156, 104, 6);
}
