.menu {
  display: block;
  margin: 0 auto;
  padding: 0px 20px 30px 20px;
}
.container {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.select {
  margin: 10px 0;
}
.categorySelector_container {
  display: block;
  margin: 0;
  padding: 0;
}
.selectedCategory__descr {
  display: inline;
  margin-left: 10px;
}
.selectedCategory__descr span {
  text-transform: uppercase;
  color: purple;
}
.button__clearFilter {
  position: relative;
  left: 4px;
  color: rgb(236, 6, 6);
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.input,
.filterByName_input {
  display: block;
  margin-bottom: 10px;
  padding: 6px 6px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  width: 100%;
}
.filterByName_input:focus {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(43, 103, 182, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(20, 73, 153, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(25, 113, 172, 0.75);
}
.filterByName_summary {
  color: rgb(17, 14, 14);
  left: 480px;
  top: 55px;
}
.filterByName_filterBy {
  color: rgb(143, 5, 197);
}
.filterByName_blinking {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 2, 0, 1);
  animation-duration: 1s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 2, 0, 1);
  -webkit-animation-duration: 2s;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.menu__grid_container {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.menu_list {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.menu_item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  list-style: none;
  text-decoration: none;
  width: 100%;
  height: 340px;
  background-color: rgb(165, 235, 165, 0.6);
  box-shadow: 0 4px 8px 0 rgba(18, 58, 8, 0.2),
    0 6px 20px 0 rgba(201, 219, 202, 0.19);

  border-radius: 8px;
}
.menu_item:not(:last-child) {
  margin-bottom: 20px;
}

.menu_item:hover {
  transition: 5;
  background-color: rgb(165, 235, 165, 0.9);
  box-shadow: 0 4px 8px 0 rgba(18, 58, 8, 0.2),
    0 8px 20px 0 rgba(5, 20, 6, 0.19);
}
.menu_item_link {
  text-decoration: none;
  color: black;
}
.menu_card_image {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  height: 200px;
  border-radius: 10px;
}
.menu_card_title {
  display: block;
  margin: 10px auto;
  padding: 0;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
}
.menu_card_price {
  position: absolute;
  bottom: 6px;
  margin: 0;
  padding: 0;
  color: rgb(80, 38, 10);
  font-size: 16px;
  font-weight: 400;
}
.menu_card_description {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_card_description:hover {
  position: absolute;
  margin: 0, 5px;
  padding: 6px;
  bottom: 14px;
  left: 6px;
  right: 6px;
  color: black;
  background-color: rgb(171, 223, 141);
  white-space: initial;
}
.addDish__link {
  display: block;
  margin-bottom: 10px;
}
.addDishBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  /* background-image: url('../cart/$assets/shopping-cart-default.png'); */
  background-size: contain;
  border: none;
  width: 90px;
  height: 90px;
  cursor: pointer;
  opacity: 0.5;
  outline: none;
}
.addDishBtn:hover {
  border: none;
  width: 92px;
  height: 92px;
  opacity: 1;
}
.addDishBtn:active {
  /* background-image: url('../cart/$assets/shopping-cart-active.png'); */
  transform: translateY(4px);
}
.addDishBtn::after {
  display: none;
  content: 'Добавить блюдо';
  position: relative;
  left: 70px;
  top: -20px;
  width: 80px;
  height: 50px;
  color: rgb(3, 67, 109);
}
.addDishBtn:hover::after {
  display: inline-block;
}

.addToCartBtn {
  position: absolute;
  bottom: 6px;
  right: 14px;
  background: none;
  background-image: url('../cart/$assets/shopping-cart-default.png');
  background-size: contain;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.7;
  outline: none;
}
.addToCartBtn:hover {
  border: none;
  width: 34px;
  height: 34px;
  opacity: 1;
}
.addToCartBtn:active {
  background-image: url('../cart/$assets/shopping-cart-active.png');
  transform: translateY(4px);
}
.addToCartIcon {
  width: 100%;
}

@media (min-width: 1200px) {
  .menu {
    display: block;
    margin: 0 auto;
    padding: 0px 20px 30px 20px;
  }
  .container {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0px 20px 30px 70px;
    width: 1100px;
  }
  .input,
  .filterByName_input {
    display: block;
    width: 400px;
    margin-bottom: 20px;
    padding: 6px 6px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  .filterByName_input:focus {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(43, 103, 182, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(20, 73, 153, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(25, 113, 172, 0.75);
  }
  .filterByName_summary {
    position: absolute;
    color: rgb(17, 14, 14);
    left: 480px;
    top: 55px;
  }
  .filterByName_filterBy {
    color: rgb(143, 5, 197);
  }
  .filterByName_blinking {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 2, 0, 1);
    animation-duration: 1s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1, 2, 0, 1);
    -webkit-animation-duration: 2s;
  }

  @keyframes blinker {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes blinker {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .menu__grid_container {
    display: flex;
    margin: 0 auto;
    padding: 0;
  }

  .menu_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }
  .menu_item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    width: 300px;
    height: 340px;
    background-color: rgb(165, 235, 165, 0.6);
    box-shadow: 0 4px 8px 0 rgba(18, 58, 8, 0.2),
      0 6px 20px 0 rgba(201, 219, 202, 0.19);

    border-radius: 8px;
  }
  .menu_item:not(:nth-child(-n + 3)) {
    margin-top: 20px;
  }
  .menu_item:not(:nth-child(3n)) {
    margin-right: 27px;
  }
  .menu_item:hover {
    transition: 5;
    background-color: rgb(165, 235, 165, 0.9);
    box-shadow: 0 4px 8px 0 rgba(18, 58, 8, 0.2),
      0 8px 20px 0 rgba(5, 20, 6, 0.19);
  }
  .menu_item_link {
    text-decoration: none;
    color: black;
  }
  .menu_card_image {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: 200px;
    border-radius: 10px;
  }
  .menu_card_title {
    display: block;
    margin: 10px auto;
    padding: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
  }
  .menu_card_price {
    position: absolute;
    bottom: 6px;
    margin: 0;
    padding: 0;
    color: rgb(80, 38, 10);
    font-size: 16px;
    font-weight: 400;
  }
  .menu_card_description {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu_card_description:hover {
    position: absolute;
    margin: 0, 5px;
    padding: 6px;
    bottom: 14px;
    left: 6px;
    right: 6px;
    color: black;
    background-color: rgb(171, 223, 141);
    white-space: initial;
  }
  .addDish__link {
    display: block;
    margin-bottom: 10px;
  }
  .addDishBtn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    /* background-image: url('../cart/$assets/shopping-cart-default.png'); */
    background-size: contain;
    border: none;
    width: 90px;
    height: 90px;
    cursor: pointer;
    opacity: 0.5;
    outline: none;
  }
  .addDishBtn:hover {
    border: none;
    width: 92px;
    height: 92px;
    opacity: 1;
  }
  .addDishBtn:active {
    /* background-image: url('../cart/$assets/shopping-cart-active.png'); */
    transform: translateY(4px);
  }
  .addDishBtn::after {
    display: none;
    content: 'Добавить блюдо';
    position: relative;
    left: 70px;
    top: -20px;
    width: 80px;
    height: 50px;
    color: rgb(3, 67, 109);
  }
  .addDishBtn:hover::after {
    display: inline-block;
  }

  .select {
    margin: 20px 0;
    width: 400px;
  }
  .categorySelector_container {
    position: absolute;
    left: 470px;
    top: 12px;
  }
  .selectedCategory__descr {
    display: inline;
    margin-left: 10px;
  }
  .selectedCategory__descr span {
    text-transform: uppercase;
    color: purple;
  }
  .button__clearFilter {
    position: relative;
    left: 4px;
    color: rgb(236, 6, 6);
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .addToCartBtn {
    position: absolute;
    bottom: 6px;
    right: 14px;
    background: none;
    background-image: url('../cart/$assets/shopping-cart-default.png');
    background-size: contain;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.7;
    outline: none;
  }
  .addToCartBtn:hover {
    border: none;
    width: 34px;
    height: 34px;
    opacity: 1;
  }
  .addToCartBtn:active {
    background-image: url('../cart/$assets/shopping-cart-active.png');
    transform: translateY(4px);
  }
  .addToCartIcon {
    width: 100%;
  }
}
