.dish_page {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  padding: 0 20px 20px;
  position: relative;
  bottom: 0;
}
.container {
  /* box-sizing: border-box; */
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 0;
}
.dish_details {
  display: block;
  margin: 0 auto 10px;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(18, 58, 8, 0.2),
    0 6px 20px 0 rgba(6, 53, 9, 0.19);
}
.dish__ingredients {
  margin: 0;
  padding: 0;
}
.dish__ingredients_list {
  display: flex;
  margin: 0;
  padding: 6px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.dish__ingredients_item {
  display: inline-block;
  padding: 4px;
}
.dish__image {
  width: 200px;
  height: auto;
}
.dish__name {
  margin: 0;
}
.dish__description {
  margin: 0;
}
.dish__comments_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 6px;
  width: 100%;
}

.comments__form {
  width: 100%;
  position: relative;
}
.comments__input_text {
  box-sizing: border-box;
  display: block;
  margin: 0 auto 10px;
  padding: 10px;
  width: 100%;
  height: 80px;
  font-size: 18px;
  resize: vertical;
  border-radius: 10px;
  background-color: rgba(173, 250, 153, 0.747);
}
.comments__input_text:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(43, 103, 182, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(20, 73, 153, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(25, 113, 172, 0.75);
}
.comments__rating_label {
  display: flex;
  align-items: center;
  width: 100px;
  font-size: 20px;
}
.comments__rating_select {
  margin: 0 0 0 20px;
  padding: 2px;
  /* width: auto; */
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
  color: rgb(20, 20, 3);
  font-weight: 700;
  text-align-last: center;
  background-color: rgba(239, 241, 69, 0.7);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(18, 58, 8, 0.2),
    0 6px 20px 0 rgba(6, 53, 9, 0.19);
}
.comments__rating_select:hover {
  background-color: rgb(126, 236, 126);
}
.comment__rating_option {
  display: block;
  text-align: center;
  outline: none;
  background-color: transparent;
}
.comment__rating_option:checked {
  background-color: rgba(219, 160, 33, 0.5);
}

.submitCommentBtn {
  display: inline-block;
  margin: 0;
  padding: 6px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: rgb(94, 145, 29);
  border: 0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.submitCommentBtn:hover {
  transform: scale(1.1);
}
.submitCommentBtn:active {
  background-color: rgba(94, 145, 29, 0.5);
}
.showCommentsBtn {
  display: block;
  margin: 10px auto 10px;
  padding: 0;
  width: 140px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
}
.showComments__show::after,
.showComments__hide::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: -6px;
  width: 30px;
  height: 30px;
  background-image: url('https://img.icons8.com/plasticine/100/000000/circled-chevron-up.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}
.showComments__hide::after {
  transform: rotate(0);
}

.comments__list_wrap {
  box-sizing: border-box;
  display: block;
  margin: 10px 0 0;

  padding: 0;

  border-top: double;
}
.comments_list {
  /* box-sizing: border-box; */
  display: block;
  margin: 10px auto 0;
  width: 100%;
  max-height: 320px;
  overflow-y: auto;
  padding: 20px 10px 10px;
  list-style: square;
  scroll-behavior: smooth;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(18, 58, 8, 0.2),
    0 6px 20px 0 rgba(6, 53, 9, 0.19);
}

/* width */
.comments_list::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
}
.comments_list:hover::-webkit-scrollbar {
  opacity: 1;
}

/* Track */
.comments_list::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgb(53, 107, 22); */
  margin-top: 14px;
  margin-bottom: 14px;
  border-radius: 10px;
}

/* Handle */
.comments_list::-webkit-scrollbar-thumb {
  background: rgb(80, 82, 78);
  border-radius: 20%;
  height: 60px;
}

.comments__item {
  display: block;
  margin: 0 auto;
  padding: 6px 10px;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(1, 51, 4, 0.19);
}
.comments__item_author {
  display: inline-block;
  position: absolute;
  color: rgb(6, 29, 4);
  font-weight: 600;
  left: 0;
}
.comments__item_date {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 14px;
  font-style: oblique;
  color: rgb(19, 22, 18);
  font-weight: 200;
}
.comments__item_text {
  margin-top: 20px;
  color: rgb(39, 42, 46);
}
.comments__item_rating {
}

.goBackBtn {
  display: block;
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  position: fixed;
  padding: 0;
  top: 36vh;
  left: 0px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-image: url('https://cdn3.iconfinder.com/data/icons/glyph/227/Button-Back-1-512.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: none;
  z-index: 100;
}
.goBackBtn:hover {
  transform: scale(1.1);
}
.goBackBtn img {
  display: block;
  padding: 0;
  height: 40px;
}

.addToCartBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  background-image: url('../cart/$assets/shopping-cart-default.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.5;
  outline: none;
  z-index: 101;
}
.addToCartBtn:hover {
  border: none;
  width: 32px;
  height: 32px;
  opacity: 1;
}
.addToCartBtn:active {
  background-image: url('../cart/$assets/shopping-cart-active.png');
  transform: translateY(4px);
}
@media (min-width: 1200px) {
  .dish_page {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    position: relative;
    bottom: 0;
  }
  .container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .dish__image {
    width: 300px;
    height: auto;
  }

  .dish__comments_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
  }

  .comments__form {
    width: 100%;
    position: relative;
  }

  .goBackBtn {
    width: 50px;
    height: 50px;
  }
}
