.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 600;
  min-height: 300;
  background-color: #fff;
  padding: 16px;
}
.button {
  background: white;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.modal_template_content {
  width: 400px;
  height: 300px;
}
