.cart_container h2 {
  padding: 10px;
}
.cart_container h2 span {
  padding: 4px;
  width: 30px;
  height: 30px;
  background-color: rgb(82, 158, 68);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(18, 58, 8, 0.2),
    0 6px 20px 0 rgba(6, 53, 9, 0.19);
}
.cart_container {
  margin: 0 auto;
  position: relative;
}
.cart_container table {
  margin: 0 auto;
  position: relative;
}
.cartTable_headCell {
  /* min-width: 150px; */
  background-color: rgb(3, 114, 57);
}
.cartTable_bodyRow td {
  padding: 10px;
  text-align: center;
}
.cartTable_bodyRow td:first-child {
  padding: 10px 10px;
  text-align: left;
}

.cartTable_dishLink {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
  text-decoration: none;
}
.cartTable_dishLink img {
  display: none;
  margin-right: 20px;
  border-radius: 50%;
}
.cartTable_tdQty {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.cartTable_tdQty span {
  margin: 2px auto;
}
.incrementBtn,
.decrementBtn {
  width: 24px;
  height: 24px;
  outline: none;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
  border: none;
}

.incrementBtn {
  background-image: url('./$assets/incrementBtn.png');
}
.decrementBtn {
  background-image: url('./$assets/decrementBtn.png');
}
.decrementBtn:active {
  transform: scale(0.9, 0.9);
}
.incrementBtn:active {
  transform: scale(0.9, 0.9);
}
.cartTable_bodyRow td:last-child {
  position: absolute;
  padding: 0;
  right: 8px;
  /* top: 6px; */
  background-color: transparent;
  border: none;
}
.deleteBtn {
  position: relative;
  top: 62px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url('./$assets/trash.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}
.deleteBtn:active {
  transform: translateY(4px);
}
.cartTable_totalPrice {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
.cart_container th,
td {
  border: 1px solid rgba(6, 53, 16, 0.26);
}

@media (min-width: 1200px) {
  .cart_container h2 {
    padding: 10px;
    position: fixed;
    right: 0;
  }
  .cart_container h2 span {
    padding: 20px;
    width: 50px;
    height: 50px;
  }

  .cartTable_headRow {
    line-height: 60px;
  }
  .cartTable_headCell {
    min-width: 150px;
  }
  .cartTable_bodyRow td {
    padding: 10px;
    text-align: center;
  }
  .cartTable_bodyRow td:first-child {
    padding: 10px 10px;
    text-align: left;
  }
  .cartTable_bodyRow td:last-child {
    position: relative;
    right: 0px;
  }

  .cartTable_dishLink img {
    display: inline-block;
  }
  .incrementBtn,
  .decrementBtn {
    width: 24px;
    height: 24px;
  }
  .incrementBtn {
    margin-left: 15px;
  }
  .decrementBtn {
    margin-right: 15px;
  }
  .cartTable_tdQty span {
    margin: 0;
  }
  .decrementBtn:active {
    transform: scale(0.9, 0.9);
  }
  .incrementBtn:active {
    transform: scale(0.9, 0.9);
  }

  .deleteBtn {
    width: 36px;
    height: 36px;
    top: 0px;
  }
  .deleteBtn:active {
    transform: translateY(4px);
  }
  .cartTable_totalPrice {
    display: block;
    padding-top: 40px;
  }
  .cart_container th,
  td {
    border: 1px solid rgba(6, 53, 16, 0.26);
    /* border-collapse: collapse; */
  }
  .cartTable_tdQty {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
